<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Device Trips - {{TokenID}}</title>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      color: #333;
      margin: 0;
      padding: 20px;
    }
    h1 {
      color: #444444;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin-bottom: 10px;
    }
    #map {
      height: 60vh;
      width: 80vw;
      margin-top: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
  </style>
  <script>
    function initializeMap() {
      mapboxgl.accessToken = "pk.eyJ1IjoiYmVua29jaGFub3dza2kiLCJhIjoiY2t6eDdlZzRnOGUyeTJvbXphdXdvZnJjZSJ9.S1WS1tkPKQnGt3A5Y72ZUA";
      window.map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/dark-v10',
        center: [0, 0],
        zoom: 9
      });
    }
    window.onload = initializeMap;

    async function fetchAndDisplayMap(tokenID, tripID, startTime, endTime) {
      const mapContainer = document.getElementById('map');
      mapContainer.style.display = 'block';

      if (!window.map) {
        console.log('Initializing map');
        window.map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/dark-v10',
          center: [0, 0],
          zoom: 9
        });
      } else {
        window.map.resize();
      }

      try {
        const url = `/api/trip/${tripID}?start=${encodeURIComponent(startTime)}&end=${encodeURIComponent(endTime)}`;
        const response = await fetch(url, {
          headers: {
            'Content-Type': 'application/json',
          },
          credentials: 'include',
        });

        if (!response.ok) {
          throw new Error('Failed to fetch trip data');
        }
        const geoJSON = await response.json();
        console.log("GeoJSON data:", geoJSON);

        // Add data to map
        const addDataToMap = () => {
          if (window.map.getSource('route')) {
            window.map.getSource('route').setData(geoJSON);
          } else {
            window.map.addSource('route', {
              type: 'geojson',
              data: geoJSON
            });
            window.map.addLayer({
              id: 'route',
              type: 'line',
              source: 'route',
              layout: {
                'line-join': 'round',
                'line-cap': 'round'
              },
              paint: {
                'line-color': '#FFFF00',
                'line-width': 6
              }
            });
          }

          const bounds = new mapboxgl.LngLatBounds();
          geoJSON.features[0].geometry.coordinates.forEach(coord => bounds.extend(coord));
          window.map.fitBounds(bounds, { padding: 20 });
          console.log('Added source and layer to map');
        };

        if (window.map.isStyleLoaded()) {
          addDataToMap();
        } else {
          window.map.once('load', addDataToMap);
        }
      } catch (error) {
        console.error('Error fetching trip data:', error);
      }
    }
  </script>
</head>
<body>
<h1>Trips for {{TokenID}}</h1>
<ul>
  {{#each Trips}}
    <li>
      Trip ID: {{this.ID}}
      <button onclick="fetchAndDisplayMap('{{../this.TokenID}}', '{{this.ID}}', '{{this.Start.Time}}', '{{this.End.Time}}')">View Map</button>
    </li>
  {{/each}}
</ul>
<div id="map"></div>
<a href="/devices/me">Back to Devices</a>
</body>
</html>
