<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{Title}}</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      color: #333;
      margin: 0;
      padding: 20px;
    }

    h1 {
      color: #444444;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th {
      background-color: #4CAF50;
      color: white;
      font-weight: bold;
      padding: 10px;
      text-align: left;
    }

    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    p {
      color: #555;
    }
  </style>
  <script>
    function toggleDeviceStatus(id) {
      var element = document.getElementById(id);
      if (element.style.display === "none") {
        element.style.display = "block";
      } else {
        element.style.display = "none";
      }
    }
  </script>
</head>
<body>
<h1>{{Title}}</h1>
{{#if Vehicles}}
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Device Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each Vehicles}}
      <tr>
        <td>{{this.TokenID}}</td>
        <td>{{this.Definition.make}}</td>
        <td>{{this.Definition.model}}</td>
        <td>{{this.Definition.year}}</td>
        <td>
          <button onclick="toggleDeviceStatus('device-status-{{@index}}')">Expand Device Status</button>
          <div id="device-status-{{@index}}" style="display: none;">
          Ambient Temp: {{this.DeviceStatus.AmbientTemp}}<br>
          Battery Capacity: {{this.DeviceStatus.BatteryCapacity}}<br>
          Battery Voltage: {{this.DeviceStatus.BatteryVoltage}}<br>
          Charge Limit: {{this.DeviceStatus.ChargeLimit}}<br>
          Charging: {{this.DeviceStatus.Charging}}<br>
          Fuel Percent Remaining: {{this.DeviceStatus.FuelPercentRemaining}}<br>
          Latitude: {{this.DeviceStatus.Latitude}}<br>
          Longitude: {{this.DeviceStatus.Longitude}}<br>
          Odometer: {{this.DeviceStatus.Odometer}}<br>
          Oil: {{this.DeviceStatus.Oil}}<br>
          Range: {{this.DeviceStatus.Range}}<br>
          Record Created At: {{this.DeviceStatus.RecordCreatedAt}}<br>
          Record Updated At: {{this.DeviceStatus.RecordUpdatedAt}}<br>
          State of Charge (SoC): {{this.DeviceStatus.Soc}}<br>
          Tire Pressure:
          <ul>
            <li>Age: {{this.DeviceStatus.TirePressure.age}}</li>
            <li>Back Left: {{this.DeviceStatus.TirePressure.backLeft}}</li>
            <li>Back Right: {{this.DeviceStatus.TirePressure.backRight}}</li>
            <li>Data Age: {{this.DeviceStatus.TirePressure.dataAge}}</li>
            <li>Front Left: {{this.DeviceStatus.TirePressure.frontLeft}}</li>
            <li>Front Right: {{this.DeviceStatus.TirePressure.frontRight}}</li>
            <li>Request ID: {{this.DeviceStatus.TirePressure.requestId}}</li>
            <li>Unit System: {{this.DeviceStatus.TirePressure.unitSystem}}</li>
          </ul>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No vehicles to display.</p>
{{/if}}
</body>
</html>
