<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
</head>
<body>
<h1>{{Title}}</h1>
{{#if Vehicles}}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {{#each Vehicles}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Make}}</td>
            <td>{{this.Model}}</td>
            <td>{{this.Year}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>No vehicles to display.</p>
{{/if}}
</body>
</html>
