<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Session</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <style>
      @font-face {
          font-family: 'Euclid';
          src: url('/static/EuclidCircularA-Regular.otf') format('opentype');
          font-weight: normal;
          font-style: normal;
      }
      body {
          font-family: 'Euclid', sans-serif;
          background-color: #000000;
          color: #ffffff;
          margin: 0;
          padding: 20px;
      }

      h1 {
          text-align: center;
          color: #30D5C8;
      }

      .token-container, .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
      }

      .token-card {
          background-color: #222222;
          padding: 20px;
          border-radius: 10px;
          margin-bottom: 20px;
          margin-left: 200px;
          margin-right: 200px;
          word-wrap: break-word;
          max-width: calc(100% - 400px);
      }

      .token-header {
          margin-bottom: 15px;
      }

      .copy-button {
          padding: 10px 20px;
          background-color: #30D5C8;
          color: white;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          font-size: 16px;
      }

      .copy-button:hover {
          background-color: #35deda;
      }

      .footer {
          text-align: center;
          margin-top: 40px;
      }

      a {
          color: #30D5C8;
          text-decoration: none;
      }

      a:hover {
          text-decoration: underline;
      }

      ul {
          list-style-type: none;
          padding: 0;
      }

      li {
          margin-bottom: 5px;
      }
      .back-button {
          position: absolute;
          top: 95px;
          left: 165px;
          font-size: 24px;
          color: #ffffff;
          cursor: pointer;
          border: none;
          background: none;
      }
      .header {
          position: absolute;
          top: 10px;
          left: 10px;
      }

      .dimo-logo {
          height: 90px;
      }

      .generate-token-section {
          background-color: #222;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-right: auto;
          margin-left: 0;
          padding: 15px;
          z-index: 1;
      }

      .generate-token-section select {
          width: 50%;
          padding: 10px;
          margin-top: 5px;
          background-color: white;
          color: black;
          border: 1px solid #ccc;
          border-radius: 0;
          cursor: pointer;
      }

      .generate-token-section button {
          padding: 10px 20px;
          margin-top: 10px;
          background-color: white;
          color: black;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          font-size: 16px;
      }

      .generate-token-section button:hover {
          background-color: #35deda;
      }

      #token-display {
          word-wrap: break-word;
          background-color: #222;
          color: #ffffff;
          padding: 10px;
          border-radius: 5px;
          width: 80%;
          margin-top: 10px;
          text-align: center;
          max-height: 150px;
          overflow-y: auto;
      }

  </style>
</head>
<body>
<div class="header">
    <img src="/static/whole_logo.png" alt="DIMO Logo" class="dimo-logo">
</div>
<button class="back-button" onclick="window.location.href='/vehicles/me'">&#9664;</button>

<h1>My Current Session</h1>

<div class="token-card">
    <div class="token-header">
        <h2>My Token:</h2>
        <button class="copy-button" onclick="copyToClipboard('token')">Copy to clipboard</button>
    </div>
    <div id="token">
        {{ Token }}
    </div>
</div>

<div class="token-card">
    <div class="token-header">
        <h2>My Privilege Token:</h2>
        <button class="copy-button" onclick="copyToClipboard('privilege-token')">Copy to clipboard</button>
    </div>
    <div class="generate-token-section">
        <select id="vehicle-dropdown">
            {{#each Vehicles}}
                <option value="{{this.TokenID}}">TokenId: {{this.TokenID}} | {{this.Definition.make}} {{this.Definition.model}} ({{this.Definition.year}})</option>
            {{/each}}
        </select>
        <button id="generate-token-button">Generate Privilege Token</button>
    </div>
    <div id="privilege-token"></div>

    <p>My Privileges:</p>
    <ul>
        {{#each Privileges}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>



<div class="footer">
    <p>For more information, check out the <a href="https://docs.dimo.zone/developer-platform/api-references/dimo-protocol/token-exchange-api/token-exchange-api-endpoints" target="_blank">docs</a>.</p>
</div>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        const generateButton = document.getElementById('generate-token-button');
        if (generateButton) {
            generateButton.addEventListener('click', async function() {
                const tokenID = document.getElementById('vehicle-dropdown').value;
                try {
                    const response = await fetch(`/api/generate-token/${tokenID}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await response.json();
                    if (response.ok) {
                        document.getElementById('privilege-token').textContent = `${data.token}`;
                    } else {
                        throw new Error(data.error || 'Failed to generate token');
                    }
                } catch (error) {
                    console.error('Error generating token:', error);
                    document.getElementById('token-display').textContent = 'Error: ' + error.message;
                }
            });
        }
    });
    function copyToClipboard(id){
        var text = document.getElementById(id).innerText;
        navigator.clipboard.writeText(text).then(function() {
            alert('Copying to clipboard was successful!');
        }, function(err) {
            alert('Async: Could not copy text: ', err);
        });
    }
</script>
</body>
</html>
