<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Euclid';
            src: url('/static/EuclidCircularA-Regular.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }
        body {
            font-family: 'Euclid', sans-serif;
            background-color: #000000;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }

        .container {
            padding: 50px;
            text-align: center;
            width: 100%;
        }

        h1 {
            color: #30D5C8;
            margin-bottom: 20px;
        }

        .selector {
            margin-bottom: 20px;
        }

        label {
            margin-right: 10px;
        }

        select {
            padding: 5px;
            background-color: #222;
            color: #ffffff;
            border: 1px solid #30D5C8;
        }

        .stream-header,
        .stream-card table tr {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .stream-card {
            padding: 20px;
            border-radius: 10px;
            margin: auto;
            max-width: 80%;
            background-color: #222222;
        }

        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            word-wrap: break-word;
            text-align: center;
        }

        .stream-header > span,
        .stream-card table tr > td {
            margin: 0;
            padding: 0;
        }

        td {
            text-align: center;
            border-bottom: 1px solid #ddd;
            word-wrap: break-word;
        }

        .stream-card tbody tr {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            word-wrap: break-word;
        }

        tr:nth-child(even) {
            background-color: #333333;
        }

        tr:hover {
            background-color: #444444;
        }

        .back-button {
            position: absolute;
            top: 95px;
            left: 140px;
            font-size: 24px;
            color: #ffffff;
            cursor: pointer;
            border: none;
            background: none;
        }
        .header {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .dimo-logo {
            height: 90px;
        }

        .column-title {
            color: #ffffff;
            padding: 10px 0;
        }
    </style>


    <script src="https://unpkg.com/@streamr/sdk@latest/streamr-sdk.web.min.js"></script>
    <script>

        const client = new StreamrClient({
                auth: {
                    ethereum: window.ethereum
                },
            });

            let current = null;

        const changeStream = async (event) => {
            event.preventDefault();

            const streamId = event.target.value;

            document.getElementById('messages').innerHTML = '';

            if (!streamId) {
                client.unsubscribe(current);
                return;
            }            

            const stream = await client.getStream(streamId);

            current = streamId;
            const onMessage = (content) => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${content.time}</td>
                    <td>${content.type}</td>
                    <td>${content.source}</td>
                    <td>${JSON.stringify(content.data)}</td>
                `;
                document.getElementById('messages').appendChild(row);                
            };

            const subscriptions = await Promise.all(
                    stream.getStreamParts().map(async (partition) => {
                        await client.subscribe(
                                partition,
                                onMessage
                        );
                    })
            );
        }

        window.addEventListener('load', () => {
            const selectElement = document.querySelector('select');

            selectElement.addEventListener('change', changeStream);
        });
    </script>
</head>
<body>
<div class="header">
    <img src="/static/whole_logo.png" alt="DIMO Logo" class="dimo-logo">
</div>
<button class="back-button" onclick="window.location.href='/vehicles/me'">&#9664;</button>

<div class="container">
    <h1>{{Title}}</h1>

    <div class="selector">
        <label for="stream">Select a stream:</label>
        <select id="stream">
            <option value="">None</option>
            <option value="streams.dimo.eth/firehose/weather">DIMO Firehose Weather</option>
            {{#each Vehicles}}
                <option value="streams.dimo.eth/vehicles/{{this.TokenID}}">Connected Vehicle: {{this.Definition.make}} {{this.Definition.model}} {{this.Definition.year}}</option>
            {{/each}}
            {{#each SharedVehicles}}
                <option value="streams.dimo.eth/vehicles/{{this.TokenID}}">Shared Vehicle: {{this.Definition.make}} {{this.Definition.model}} {{this.Definition.year}} (shared)</option>
            {{/each}}
        </select>
    </div>

    <div class="stream-card">
        <div class="stream-header">
            <span class="column-title">Time</span>
            <span class="column-title">Type</span>
            <span class="column-title">Source</span>
            <span class="column-title">Data</span>
        </div>
        <table>
            <tbody id="messages">
            </tbody>
        </table>
    </div>
</div>
</body>


</html>
