<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <link rel="stylesheet" href="/static/common-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/@streamr/sdk@latest/streamr-sdk.web.min.js"></script>
    <script>

        const client = new StreamrClient({
                auth: {
                    ethereum: window.ethereum
                },
            });

            let current = null;

        const changeStream = async (event) => {
            event.preventDefault();
            //const loader = document.getElementById('loader');
            //loader.style.display = 'flex';

            const streamId = event.target.value;

            document.getElementById('messages').innerHTML = '';

            if (!streamId) {
                //loader.style.display = 'none';
                client.unsubscribe(current);
                return;
            }

            const stream = await client.getStream(streamId);

            current = streamId;
            const onMessage = (content) => {
                //loader.style.display = 'none';

                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${content.time}</td>
                    <td>${content.type}</td>
                    <td>${content.source}</td>
                    <td>${JSON.stringify(content.data)}</td>
                `;
                document.getElementById('messages').appendChild(row);
            };

            const subscriptions = await Promise.all(
                    stream.getStreamParts().map(async (partition) => {
                        await client.subscribe(
                                partition,
                                onMessage
                        );
                    })
            );
        }

        window.addEventListener('load', () => {
            const selectElement = document.querySelector('select');

            selectElement.addEventListener('change', changeStream);
        });
    </script>
</head>
<body>
<div class="header">
    <img src="/static/whole_logo.png" alt="DIMO Logo" class="dimo-logo">
</div>
<button class="back-button" onclick="window.location.href='/vehicles/me'">&#9664;</button>

<div class="container">
    <h1>{{Title}}</h1>

    <div class="selector">
        <label for="stream">Select a stream:</label>
        <select id="stream">
            <option value="">None</option>
            <option value="streams.dimo.eth/firehose/weather">DIMO Firehose Weather</option>
            {{#each Vehicles}}
                <option value="streams.dimo.eth/vehicles/{{this.TokenID}}">Connected Vehicle: {{this.Definition.make}} {{this.Definition.model}} {{this.Definition.year}}</option>
            {{/each}}
            {{#each SharedVehicles}}
                <option value="streams.dimo.eth/vehicles/{{this.TokenID}}">Shared Vehicle: {{this.Definition.make}} {{this.Definition.model}} {{this.Definition.year}} (shared)</option>
            {{/each}}
        </select>
    </div>

    <div class="stream-card">
        <div class="stream-header">
            <span class="column-title">Time</span>
            <span class="column-title">Type</span>
            <span class="column-title">Source</span>
            <span class="column-title">Data</span>
        </div>
        <table>
            <tbody id="messages">
            </tbody>
        </table>
    </div>
</div>
<div class="loader" id="loader">
    <div class="white-spinner"></div>
</div>

</body>


</html>
