<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Raleway', sans-serif;
            background-color: #000000;
            color: #ffffff;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        .title-container,
        .sidebar,
        .main-content {
            box-sizing: border-box;
        }

        .sidebar {
            position: fixed;
            top: 215px;
            left: 190px;
            width: 250px;
            height: 100vh;
            background-color: #000;
            padding: 20px;
            z-index: 2;
        }

        .sidebar a, .sidebar button {
            color: #ffffff;
            text-decoration: none;
            line-height: 2.5;
            display: block;
            transition: color 0.3s;
            background: none;
            border: none;
            text-align: left;
            padding: 0;
        }

        .sidebar button:hover, .sidebar a:hover {
            color: #30D5C8;
        }

        .main-content {
            margin-left: 250px;
            padding: 20px;
            position: relative;
        }

        .vehicle-card {
            background-color: #222;
            margin-bottom: 10px;
            margin-right: 200px;
            margin-left: 240px;
            padding: 15px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            z-index: 1;
        }

        .vehicle-card > * {
            flex: 1;
        }

        .vehicle-card h2 {
            color: #30D5C8;
            margin-top: 0;
        }
        .vehicle-card p {
            margin: 0;
            font-size: 16px;
            cursor: pointer;
        }
        .vehicle-card p:hover {
            color: #30D5C8;
        }


        .session-button {
            background-color: #30D5C8;
            color: #000000;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
            padding: 10px 20px;
            display: inline-block;
            margin-right: 10px;
            transition: background-color 0.3s;
        }

        .session-button:hover {
            background-color: #35deda;
        }

        .title-container {
            background-color: #000;
            color: #fff;
            padding: 20px;
            margin-left: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .vehicle-list a {
            display: inline;
            margin-right: 10px;
        }

        h1 {
            color: #30D5C8;
        }
        .link-text {
            color: #30D5C8;
            text-decoration: none;
        }
        .sidebar-link {
            color: #ffffff;
            text-decoration: none;
            display: block;
            padding: 10px 0;
            transition: color 0.3s;
        }

        .sidebar-link.active {
            color: #30D5C8;
        }
        .header-container {
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-top: 20px;
        }

        .dimo-logo {
            height: 45px;
            margin-right: 0px;
        }

        .text-container {
            position: relative;
        }

        .trips-text {
            font-family: 'Oooh Baby';
            font-size: 60px;
            font-weight: normal;
            color: rgb(70, 241, 239);
            line-height: 1.4;
        }

        .beta-text {
            position: absolute;
            right: -40px;
            top: 8px;
            font-size: 16px;
            color: rgb(255, 255, 255);
            font-family: Euclid;

        }




    </style>
    <script>
        function toggleView(viewId) {
            document.querySelectorAll('.vehicle-list').forEach(function(div) {
                div.style.display = 'none';
            });

            document.getElementById(viewId).style.display = 'block';

            document.querySelectorAll('.sidebar-link').forEach(function(link) {
                link.classList.remove('active');
            });

            var title = document.getElementById('page-title');
            if (viewId === 'my-vehicles') {
                document.getElementById('my-vehicles-link').classList.add('active');
                title.textContent = 'My Vehicles';
            } else if (viewId === 'shared-vehicles') {
                document.getElementById('shared-vehicles-link').classList.add('active');
                title.textContent = 'Vehicles Shared With Me';
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            toggleView('my-vehicles');
        });




    </script>
</head>
<body>
<div class="header-container">
    <img src="/static/DIMO_Logo_White.svg" alt="DIMO Logo" class="dimo-logo">
    <div class="text-container">
        <div class="bubble-element trips-text">Trips</div>
        <div class="bubble-element beta-text">BETA</div>
    </div>
</div>

<div class="sidebar">
    <a href="#" id="my-vehicles-link" onclick="toggleView('my-vehicles'); return false;" class="sidebar-link">My Vehicles</a>
    <a href="#" id="shared-vehicles-link" onclick="toggleView('shared-vehicles'); return false;" class="sidebar-link">Vehicles Shared With Me</a>
</div>

<div class="title-container">
    <h1 id="page-title">{{Title}}</h1>
    <div>
        <a href="/account" class="session-button">Session Credentials</a>
        <a href="/streamr" class="session-button">Live Streamr</a>
        <a href="/give-feedback" class="session-button" target="_blank">Give us Feedback!</a>
    </div>
</div>
<div class="main-content">
    <div id="my-vehicles" class="vehicle-list">
        {{#if Vehicles}}
            {{#each Vehicles}}
                <div class="vehicle-card">
                    <span>{{this.Definition.make}} {{this.Definition.model}} ({{this.Definition.year}})</span>
                    <span>Vehicle ID: {{this.TokenID}}</span>
                    <p>
                        <a href="/vehicles/{{this.TokenID}}/status" class="link-text">Device Status</a>
                    </p>
                    <p>
                        <a href="/vehicles/{{this.TokenID}}/trips" class="link-text">Trips</a>
                    </p>
                </div>
            {{/each}}
        {{else}}
            <p>No vehicles to display.</p>
        {{/if}}
    </div>

    <div id="shared-vehicles" class="vehicle-list" style="display: none;">
        {{#if SharedVehicles}}
            {{#each SharedVehicles}}
                <div class="vehicle-card">
                    <span>{{this.Definition.make}} {{this.Definition.model}} ({{this.Definition.year}})</span>
                    <span>Vehicle ID: {{this.TokenID}}</span>
                    <p>
                        <a href="/vehicles/{{this.TokenID}}/status" class="link-text">Device Status</a>
                    </p>
                    <p>
                        <a href="/vehicles/{{this.TokenID}}/trips" class="link-text">Trips</a>
                    </p>
                </div>
            {{/each}}
        {{else}}
            <p>No shared vehicles to display.</p>
        {{/if}}
    </div>
</div>
</body>
</html>