<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #444444;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th {
            background-color: #999;
            color: white;
            font-weight: bold;
            padding: 10px;
            text-align: left;
        }

        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        .link-button {
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
            font-size: inherit;
        }

        .link-button:hover {
            text-decoration: none;
        }
        .feedback-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            position: fixed;
            top: 20px;
            right: 20px;
        }

        .feedback-button {
            position: fixed;
            top: 20px;
            right: 20px;

        }
        .session-button {
                    padding: 10px 20px;
                    background-color: #00CED1;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                }
                .title-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

    </style>
</head>
<body>
<div class="title-container">
  <h1>{{Title}}</h1>
  <div>
    <button class="session-button" onclick="window.location.href='/account'">My Current Session</button>
    <button class="session-button" onclick="window.location.href='/streamr'">Live Data</button>
    <a href="/give-feedback" class="session-button" target="_blank">Give us Feedback!</a>
  </div>
</div>
{{#if Vehicles}}
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Device Status</th>
            <th>Trips</th>
        </tr>
        </thead>
        <tbody>
        {{#each Vehicles}}
            <tr>
                <td>{{this.TokenID}}</td>
                <td>{{this.Definition.make}}</td>
                <td>{{this.Definition.model}}</td>
                <td>{{this.Definition.year}}</td>
                <td>
                    <button class="link-button" onclick="window.location.href='/vehicles/{{this.TokenID}}/status'">View Device Status</button>
                </td>
                <td>
                    <button class="link-button" onclick="window.location.href='/vehicles/{{this.TokenID}}/trips'">View Trips</button>
                </td>
                <td>
                     <button class="link-button" onclick="window.location.href='/vehicles/{{this.TokenID}}/live'">Live Streamr</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>No vehicles to display.</p>
{{/if}}
{{#if SharedVehicles}}
    <h2>Vehicles Shared With Me</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Device Status</th>
            <th>Trips</th>
        </tr>
        </thead>
        <tbody>
        {{#each SharedVehicles}}
            <tr>
                <td>{{this.TokenID}}</td>
                <td>{{this.Definition.make}}</td>
                <td>{{this.Definition.model}}</td>
                <td>{{this.Definition.year}}</td>
                <td>
                    <button class="link-button" onclick="window.location.href='/vehicles/{{this.TokenID}}/status'">View Device Status</button>
                </td>
                <td>
                    <button class="link-button" onclick="window.location.href='/vehicles/{{this.TokenID}}/trips'">View Trips</button>
                </td>
                <td>
                    <button class="link-button" onclick="window.location.href='/vehicles/{{this.TokenID}}/live'">Live Streamr</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>No shared vehicles to display.</p>
{{/if}}
</body>
</html>